{% extends "main/base/base.html" %}
{% load jalali_tags %}

{% block content %}



<!-- ============================================================
     PAGE 13: ARTICLE DETAIL
     ============================================================ -->
<div class="page-section  active" id="page-article-detail">
  <nav class="main-navbar">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between w-100">
        <button class="btn p-0" style="color:var(--text-secondary);" onclick="showPage('articles')"><i class="bi bi-arrow-right fs-5"></i></button>
        <div class="theme-toggle" onclick="toggleTheme()"><i class="bi bi-sun-fill sun-icon"></i><i class="bi bi-moon-fill moon-icon"></i></div>
      </div>
    </div>
  </nav>
  <div class="container py-5" style="max-width:800px;">
    <div class="card-custom">
      <div class="d-flex gap-2 mb-4">
        <span class="badge-custom badge-info">{{ item.category }}</span>
        <span class="badge-custom badge-muted"><i class="bi bi-clock me-1"></i>{{ item.time_to_read_minutes }} دقیقه مطالعه</span>
      </div>
      <h1 class="fw-900 mb-4" style="font-size:1.8rem;line-height:1.4;">{{ item.title }}</h1>
      <div class="d-flex align-items-center gap-3 mb-5" style="padding-bottom:24px;border-bottom:1px solid var(--border-color);">
        {% comment %} <div class="avatar">{{ item.user.first_name|truncatechars:2  }}</div> {% endcomment %}
        <div class="avatar">@</div>
        <div>
          <div class="fw-600" style="font-size:0.9rem;">{{ item.user.get_full_name }}</div>
          <div style="font-size:0.8rem;color:var(--text-muted);">{{ item.updated_at|to_jalali:'%Y/%m/%d - %H:%M' }}</div>
        </div>
      </div>
      <div style="line-height:2.2;color:var(--text-secondary);">
        {{ item.contect|escapejs }}
      </div>
    </div>
  </div>
</div>
{% endblock content %}