asgiref==3.11.1
Django==5.2
sqlparse==0.5.5
django-jalali-date==2.0.0
django-phonenumber-field==8.4.0
jalali_core==1.0.0
jdatetime==5.2.0
kavenegar==1.1.2
phonenumbers==9.0.23
pillow==12.1.1
psycopg2-binary==2.9.11
requests==2.32.5
django-ckeditor-5
easy-thumbnails=2.10.1
django-ipware
setuptools