 
{% extends "admin-panel/base/base.html" %}

{% block main %}
  
  
  <main class="page-content">

      <div class="page-header">
        <div class="page-header-info">
          <h1>پرسش پاسخ </h1>
          
        </div>
        <div class="page-header-actions">
 
        </div>
      </div>

 

      <div class="row g-3">
 
        <form action="" class="row col-md-12 grid" method="post">
          {% csrf_token %}
          {{form.as_ul}}
          {{form.media}}
          <button type="submit" class="btn btn-success btn-lg w-100">ثبت</button>
        </form>

 
      </div>

    </main>
 {% endblock main %}