{% extends "main/base/base.html" %}


{% block content %}


<!-- ============================================================
     PAGE 4: FORGOT PASSWORD
     ============================================================ -->
<div class="page-section active " id="page-forgot">
  <div class="d-flex align-items-center justify-content-center min-vh-100" style="background:var(--bg-primary);">
    <div style="max-width:420px;width:100%;padding:24px;">
      <div class="text-center mb-5">
        <div style="width:72px;height:72px;background:rgba(245,158,11,0.1);border-radius:var(--radius-xl);display:flex;align-items:center;justify-content:center;margin:0 auto 20px;font-size:2rem;">🔑</div>
        <h3 class="fw-800 mb-2">فراموشی رمز عبور</h3>
        <p class="text-secondary" style="font-size:0.9rem;">شماره موبایل خود را وارد کنید تا کد اعتبار سنجی برایتان ارسال شود.</p>
      </div>
      <form action="" method="{{method}}">
        {% csrf_token %}
        {% if method == 'get' %}
          <div class="card-custom">
            <div class="mb-4">
              <div class="input-group-custom" dir="rtl">
                <label class="form-label-custom">شماره موبایل  </label>
                <i class="bi bi-person input-icon"></i>
                {{ form.PhoneNumber }}
              </div>
            </div>
            <div class="mb-4">
              <div class="input-group-custom">
                <label class="form-label-custom"> رمزعبور جدید  </label>
                <i class="bi bi-person input-icon"></i>
                {{ form.password }}
              </div>
            </div>
            
            {% if next_url %}
              <input type="hidden" name="next" value="{{next_url}}">
            {% endif %}

          {% elif method == 'post' %}
          <div class="card-custom">
            <div class="mb-4">
              <div class="input-group-custom" dir="rtl">
                <label class="form-label-custom">کد ورود </label>
                <i class="bi bi-person input-icon"></i>
                {{ otp_form.otp }}
              </div>
            </div>
            {% if next_url %}
              <input type="hidden" name="next" value="{{ next_url}}">

            {% endif %}
              <input type="hidden" name="password" value="{{password}}">
              <input type="hidden" name="PhoneNumber" value="{{PhoneNumber}}">
           
          {% endif %}
          <button class="btn-primary-gradient btn w-100 btn-lg mb-3" type="submit">ارسال  </button>
      </form>
        <div class="text-center" style="font-size:0.875rem;color:var(--text-secondary);">
          <a href="{% url 'user:login' %}{% if next_url %}?next={{next_url}}{% endif %}" style="color:var(--primary-600);text-decoration:none;"  >
            <i class="bi bi-arrow-right me-1"></i> بازگشت به ورود
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}