 
{% extends "admin-panel/base/base.html" %}

{% block main %}
  
  
  <main class="page-content">

      <div class="page-header">
        <div class="page-header-info">
          <h1>پاسخ نامه کاربر </h1>
          <h3>{{item.student.get_full_name|default:item.student}}</h3>
          <h3>ازمون : {{quiz.name}} / شماره : #{{item.id}}</h3>
          <h3>  سوال : {{question.name}} / شماره : #{{question.id}}</h3>
        </div>
       <div class="page-header-actions">
        <a href="{% url 'admin-panel:quiz-update' quiz.id %}" class="btn btn-primary btn-sm">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
          بروز رسانی ازمون
        </a>
        <a href="{% url 'admin-panel:quiz-questions-update' quiz_id=quiz.id pk=question.id %}" class="btn btn-primary btn-sm">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
          بروز رسانی سوال 
        </a>
        <a href="{% url 'admin-panel:quiz-questions-list' quiz.id %}" class="btn btn-primary btn-sm">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
          لیست سوالات 
        </a>
        <a href="{% url 'admin-panel:quiz-question-answer-list' quiz.id question.id %}" class="btn btn-primary btn-sm">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
          لیست پاسخ نامه ها 
        </a>
      </div>
      </div>

 

      <div class="row g-3">
 
        <form action="" enctype="multipart/form-data" class="row col-md-12 grid" method="post">
          {% csrf_token %}
          {{form.as_ul}}
          {{form.media}}
          <button type="submit" class="btn btn-success btn-lg w-100">ثبت</button>
        </form>

 
      </div>

    </main>
 {% endblock main %}